@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", serif; */

/* Shared styles */
.bold {
  font-weight: bold;
}
.secondary-bg {
  background-color: #fff8f3;
}

.font {
  font-family: "Work Sans";
}
#text-primary {
  color: rgba(253, 110, 10, 1);
}
.text-center {
  text-align: center;
}

.dark-1 {
  color: #181818;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}

.btn-primary {
  background-color: #fd6e0a;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}

.section-title {
  font-size: 35;
  font-weight: bold;
}

/* Header */
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* Nav Styles */
nav {
  display: flex;
  font-family: "Work Sans";
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
  margin: 0 35px 0 230px;
}

nav ul {
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
  cursor: pointer;
}
nav li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

/* Banner Styles */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px 0px 200px;
}

.banner-content {
  width: 580px;
}

.banner-greetings {
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
  font-family: "Work Sans";
  font-weight: bold;
  font-size: 85px;
}

.banner-description {
  font-family: "Work Sans";
  margin-top: 0;
}

.banner-profile-pic {
  width: 580px;
}

/* Main styles */
main {
  max-width: 1366px;
  margin: 0px auto;
}

main section {
  margin-top: 130px;
  margin-bottom: 130px;
}

/* About sections */

.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
}

.section-description {
  font-size: 18px;
  color: #757575;
}

.about-items {
  display: flex;
  justify-content: space-between;
}

.item-title {
  font-weight: 300;
  opacity: 100;
}
.item-description {
  font-weight: bold;
}

/* Skills styles */

.skills-section {
  border-radius: 10px;
  padding: 30px;
  margin-top: 0px;
  padding: 30px;
  text-align: center;
}

.skills-container {
  font-family: "Work Sans";
  display: flex;
  gap: 24px;
  text-align: left;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume section styles */
.resume-container {
  display: flex;
  gap: 24px;
}
.experience-description {
  color: #757575;
  margin-bottom: 20px;
}
.experience-title,
.experience-sub-title {
  color: #474747;
}
.experience-sub-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}
.experience-title {
  font-size: 20px;
  color: #000;
}

/* Footer Styles */
footer {
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-column {
  width: 50%;
}

footer input[type="text"],
footer input[type="email"],
textarea {
  height: 64px;
  border-radius: 5px;
  background-color: white;
  color: #000;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}
